@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Prompt', sans-serif;
  background: #000;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

/* Header/Navbar */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  height: 100px;
  padding: 0 30px;
  animation: fadeIn 2s ease-in-out;
}

/* Logo */
.logo {
  width: 210px;
  height: auto;
  padding-right: 35px;
  left: 10px;
}

.logo img {
  display: block;
  width: 100%;
  height: auto;
}

/* Desktop Menu */
.desktop-main-menu {
  padding-right: 57vh;
}

.desktop-main-menu ul {
  display: flex;
}

.desktop-main-menu ul li {
  position: relative;
  margin-right: 20px;
  padding-bottom: 2px;
}

/* Menu item bottom border */
.desktop-main-menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: right center;
}

.desktop-main-menu ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-duration: 0.4s;
}

/* Sections */
section {
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
}

.section-inner {
  position: absolute;
  bottom: 200px;
  left: 150px;
  max-width: 560px;
}

.section-inner h4 {
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: 300;
  animation: fadeInUp 0.5s ease-in-out;
}

.section-inner h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  animation: fadeInUp 0.5s ease-in-out 0.2s;
  animation-fill-mode: both;
}

.section-inner a {
  animation: fadeInUp 0.5s ease-in-out 0.4s;
  animation-fill-mode: both;
}

/* Background images */
.section-a {
  background-image: url('../img/yusuf-evli-o4EfTOEkKAw-unsplash.jpg');
  width: 100%;
  height: 100vh;
  animation: fadeIn 2s ease-in-out;
}
.section-b {
  background-image: url('../img/mahmoud-sulaiman-aO9nGw9Cbk0-unsplash.jpg');
  width: 100%;
  height: 100vh;
  animation: fadeIn 2s ease-in-out;
}
.section-c {
  background-image: url('../img/mike-newbry-DwtX9mMHBJ0-unsplash.jpg');
  width: 100%;
  height: 100vh;
  animation: fadeIn 2s ease-in-out;
}
.section-d {
  background-image: url('../img/justin-wilkens-MkRmRURW0nc-unsplash.jpg');
  width: 100%;
  height: 100vh;
  animation: fadeIn 2s ease-in-out;
}
.section-e {
  background-image: url('../img/oleksandr-sushko-dDy07Wmz0_U-unsplash.jpg');
  width: 100%;
  height: 100vh;
}
.section-f {
  background-image: url('../img/marc-szeglat-IzoQu5vH47o-unsplash.jpg');
  width: 100%;
  height: 100vh;
  animation: fadeIn 2s ease-in-out;
}

.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 130px;
  padding: 15px 50px;
  margin-top: 10px;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  z-index: 2;
}

.btn:hover span {
  color: #000;
}

.btn .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #000;
  z-index: -1;
  -webkit-transform-origin: top center;
  -webkit-transform: translateY(0%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform .6s cubic-bezier(.19,1,.22,1);
  transition: -webkit-transform .6s cubic-bezier(.19,1,.22,1);
  transition: transform .6s cubic-bezier(.19,1,.22,1);
  transition: transform .6s cubic-bezier(.19,1,.22,1),-webkit-transform .6s cubic-bezier(.19,1,.22,1);
  transition-property: transform, -webkit-transform;
  transition-duration: 0.6s, 0.6s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1), cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0s, 0s;
  transform-origin: top center;
}

.btn:hover .hover {
  transform: translateY(0);
}

.scroll-arrow {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  animation: fadeBounce 4s infinite;
}

/* Footer */
footer {
  position: relative;
  padding: 55px 0;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer ul li {
  margin-right: 30px;
  color: #aaa;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 2.5;
}

footer ul li a {
  color: #fff;
  transition: color 0.6s;
}

footer ul li a:hover {
  color: #aaa;
}

/* Hamburger Menu */
.hamburger {
  display: block;
  position: fixed;
  top: 43px;
  right: 25px;
  z-index: 55;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  transition: opacity 0.2s linear 0.1s;
}

.hamburger:active,
.hamburger:focus {
  outline: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(5px);
}

.hamburger-bottom {
  transform: translateY(10px);
}

/* Transition hamburger to X when open */
.open {
  position: fixed;
  transform: rotate(90deg);
}

.open .hamburger-top {
  position: fixed;
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  position: fixed;
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Overlay */
.overlay-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  animation: fadeIn 0.7s ease-in-out;
}

/* Stop body scroll */
.stop-scrolling {
  overflow: hidden;
}

/* Hide mobile main menu items */
.mobile-only {
  display: none;
}

/* Mobile menu */
.mobile-main-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background: #000;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Bring menu from right */
.show-menu {
  transform: translateX(0);
}

.mobile-main-menu ul {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding: 50px;
  width: 100%;
}

.mobile-main-menu ul li {
  margin-bottom: 20px;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px #555 dotted;
  width: 100%;
  text-align: right;
  padding-bottom: 8px;
}

.mobile-main-menu ul li a {
  color: #fff;
  transition: color 0.6s;
}

.mobile-main-menu ul li a:hover {
  color: #aaa;
}

/* Inner Pages */
.bg-storms {
  background-image: url('../img/nikolas-noonan-n_3kdpSkrJo-unsplash.jpg');
}

.bg-earthquakes {
  background-image: url('../img/jose-antonio-gallego-vazquez-q5DNjRaAJo4-unsplash.jpg');
}

.bg-wildfires {
  background-image: url('../img/landon-parenteau-QDFbLwy0hMY-unsplash.jpg');
}

.bg-floods {
  background-image: url('../img/joshua-j-cotten-eaJZqCn1cU8-unsplash.jpg');
}

.bg-droughts {
  background-image: url('../img/rishabh-mathew-wB5__7GaZgk-unsplash.jpg');
}

.bg-volcanoes {
  background-image: url('../img/asa-steinarsdottir-_xmAPHUXXiU-unsplash.jpg');
}

.section-animate {
  animation: fadeIn 2s ease-in-out;
}

.section-inner-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  width: 80%;
}

.section-inner-center h3 {
  font-size: 100px;
  margin-bottom: 15px;
  animation: fadeInUp 0.5s ease-in-out;
}

.section-inner-center p {
  font-size: 20px;
  animation: fadeInUp 0.5s ease-in-out 0.2s;
  animation-fill-mode: both;
}

/* Stats */
.stats {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
}

.stats div span {
  font-size: 160px;
}

.stats div h4 {
  font-size: 24px;
  font-weight: 300;
}

/* Animations */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(140px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }

  40% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries */

@media (max-width: 960px) {
  /* Hide desktop menu */
  .desktop-main-menu {
    display: none;
  }

  /* Show main mobile items */
  .mobile-only {
    display: block;
  }

  .section-inner-center h3 {
    font-size: 75px;
  }
}

@media (max-width: 600px) {
  .section-inner {
    bottom: 75px;
    left: 20px;
  }

  .section-inner h2 {
    font-size: 40px;
  }

  footer ul li:first-child {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  footer ul li {
    margin-right: 15px;
  }

  .logo {
    width: 150px;
    margin: auto;
  }

  .section-inner-center h3 {
    font-size: 50px;
  }

  /* Stats */
  .stats {
    flex-direction: column;
  }

  .stats div {
    margin-bottom: 20px;
  }
}
